<!-- src/app/header/header.component.html -->
<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white font-bold text-xl">E-pago</div>
    <div class="space-x-4">
      <a
        routerLink="/vistaUsuario/"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >Inicio</a
      >
      <a
        routerLink="/vistaUsuario/crearCuenta"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >Registro de cuentas</a
      >
      @if(this.token.getIdTipoUsuario()===1){
      <a
        routerLink="/vistaUsuario/transacciones"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >transacciones</a
      >
      <a
        routerLink="/vistaUsuario/crearEmpresa"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >registrar Empresa</a
      >

      }

      <a
        routerLink="/vistaUsuario/reportes"
        routerLinkActive="active"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >Reportes de ingresos</a
      >

      <!--aca si se es admins-->
      <a
        routerLink="/login"
        (click)="this.cerrarSesion()"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >Cerrar Sesión</a
      >
    </div>
  </div>
</nav>
