<!-- src/app/header/header.component.html -->
<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white font-bold text-xl">E-pago</div>
    <div class="space-x-4">
      <a
        routerLink="/"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >Inicio</a
      >
      <a
        routerLink="/about"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >Registro de cuentas</a
      >
      <a
        routerLink="/login"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >Retiro de dinero</a
      >
      <a
        routerLink="/login"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >Reportes de ingresos</a
      >

      <!--aca si se es admins-->
      <a
        routerLink="/login"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md"
        >Iniciar Sesión</a
      >
    </div>
  </div>
</nav>
