<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div
    class="card w-full max-w-md bg-gray-800 text-white shadow-lg rounded-lg p-6"
  >
    <h2 class="text-2xl font-bold text-center mb-6">Registro</h2>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Nombre</span>
      </label>
      <input
        type="text"
        [(ngModel)]="nombre"
        placeholder="Ingrese su nombre"
        class="input input-bordered w-full"
      />
    </div>

    <div class="form-control w-full mt-4">
      <label class="label">
        <span class="label-text">Código de Empresa</span>
      </label>
      <input
        type="text"
        [(ngModel)]="codigo"
        placeholder="Ingrese el código de empresa"
        class="input input-bordered w-full"
      />
    </div>

    <div class="form-control w-full mt-4">
      <label class="label">
        <span class="label-text">Contraseña</span>
      </label>
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Ingrese una contraseña"
        class="input input-bordered w-full"
      />
    </div>

    <div class="form-control w-full mt-4">
      <label class="label">
        <span class="label-text">Tipo de Usuario</span>
      </label>
      <select class="select w-full" [(ngModel)]="tipoUsuario">
        <option disabled selected>Seleccione el tipo</option>
        <option>Empresa</option>
        <option>Usuario</option>
      </select>
    </div>

    <button class="btn btn-primary w-full mt-6" (click)="registrarUsuuario()">
      Registrar
    </button>
  </div>
</div>
